$light-color: #f4f4f4;
$primary-color: #fff;
$secondary-color: #F7F7F7;
$dark-color: #20232A;
$font: "Rajdhani", sans-serif;
$login-button-color: rgb(3, 201, 215);
$text-color: rgb(15 23 42);
$box-light-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$box-dark-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$main-text-color: #213f7d;


.padding {
    padding-right: 0em;
}

.span {
    color: rgba(0, 0, 0, 0.6);
    font-weight: medium;
    font-size: 1em;
}

.sidebar-header {
    color: rgba(0, 0, 0, 0.6);
    font-weight: medium;
    font-size: 1.1em;
}

.active-normal {
    border-radius: 5px;
    margin-bottom: 1em;
    text-decoration: none;
    padding-left: 1.5em;
}

.sidebar-css {
    padding-bottom: 2em;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-container {
    display: grid;
    grid-template-columns: 23% 77%;
}

.status {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    box-shadow: 0;
    background-color: $secondary-color;
}

.sidebar-container {
    @extend .sidebar-css;
     background-color: $primary-color;
    // height: 1020px;

    &-head {
        display: flex;
        padding-top: 0.7em;
        padding-left: 1.5em;
        font-size: 1em;

        .dash {
            @extend .sidebar-header;
        }

        h3 {
            font-size: 1.1em;
            font-weight: 400;
        }

        .chevron-down {
           font-size: 1.4em;
        }
    }

    .sidebar-container-body {
        @extend .padding;

        p {
            font-size: 1em;
            color: $text-color;
            font-weight: bold;
            padding-left: 1.5em;
        }

        .active {
            @extend .active-normal;
            
        }

        .active:hover {
            background-color: $secondary-color;
        }

        .normal {
            @extend .active-normal;
        }

        .normal:hover {
            background-color: $secondary-color;
        }
        

        .span-link {
            @extend .span;
        }

        .option {
            color: $main-text-color;
            font-weight: medium;
        }
    
    }

     .dashboard {
        background-color: rgba(3, 201, 215, 0.1);
        border-left: 3px solid rgb(3, 201, 215);

        .dash {
            color: $main-text-color;
        }
    }
    
    

    &:hover {
        overflow-y: auto;
    }
}

//Home 

.layout-container {
    position: relative;

    .ratings-container {
       
        &-icon {
          border-radius: 50%;
          width: 2em;
          opacity: 0.9;
        }

        h5 {
            color: $main-text-color;
            font-weight: 500;
        }

        h4 {
             color: $main-text-color;
            font-weight: bolder;
        }
    }

}



@media screen and (max-width: 1262px){
    .layout-container {
        top: 0.3%;
    }
    .show-sidebar {
        display: none;
    }

    .hold {
        margin-top: 0.5em;
    }

    .main-container {
        display: grid;
        grid-template-columns: 0 100%;
    }

}
@media screen and (max-width: 580px){
    .layout-container {
        top: 4%;
    }

}

.table-container {
     margin-top: 2em;
    background-color: $primary-color;
    box-shadow: $box-light-shadow;

    .table-head {
        display: flex;
        justify-content: flex-start;
    }

    .table-title {
       padding-right: 0.4em;
       font-weight: 700;
       text-transform: uppercase;
       font-size: 0.9em;
    }

    .date-joined {
        font-size: 0.8em;
        padding-top: 1em;
        padding-bottom: 1em;
        color: $main-text-color;
        font-weight: 400;

        .status-red {
            @extend .status;
            color: #f50535;
            
        }
        .status-yellow {
            @extend .status;
            color: #f7d705;
        }
        .status-black {
            @extend .status;
            color: #222;
        }
        .status-green {
            @extend .status;
            color: green;
        }
    }

}

.pagination-container {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    

    &-select {
        background-color: $primary-color;
        border-radius: 5px;
        padding: 0.4em;
        border: 0.5px solid $secondary-color;
        box-shadow: $box-light-shadow;
    }

    .select {
       width: 80px;
       border-radius: 2px;
    }

    .active-btn {
        background: hsl(205, 86%, 17%);
        color: #fff;
    }

}

@media screen and (max-width: 850px){
    .pagination-container {
        grid-template-columns: 1fr;
        place-items: center;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 330px){
    .pagination-container {
        .select {
            width: 60px;
        }

        .select-text {
            font-size: 0.9rem;
        }
    }
}

.modal-container {
    position: absolute;
    top: 60%;
    right: 5%;
    height: 140px;
    width: 190px;
    background-color: $primary-color;
    z-index: 40;
    box-shadow: $box-light-shadow;

    &-head {
        padding: 1em;

        &-body {
            display: flex;
            flex-direction: column;
            align-items: center;

            .modal-head {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                text-decoration: none;
                margin-bottom: 1rem;

                .modal-icon {
                    font-size: 1.1rem;
                    color: $text-color
                }

                h3 {
                    font-size: 1.1rem;
                    color: $text-color;
                    text-decoration: none;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}


.filter-modal-container {
    position: absolute;
    top: 43%;
    left: 5%;
    background-color: $primary-color;
    z-index: 40;
    box-shadow: $box-light-shadow;
    height: auto;
    width: 250px;
}

